:host {
    flex-grow: 1;
}

.collab-page {
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: 20px;
    opacity: 0;
    animation: solidbackup 0.5s 0.2s forwards;
}

.seperator {
    margin-right: 50%;
    border: none;
    height: 1px;
    background-color: black;
}

.image-gallery {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.collab {
    height: 70vh;
    overflow: hidden;
    border-radius: 15px;
}

.collab-image {
    max-height: 100%;
    object-fit: contain;
    vertical-align: bottom;
    transition: 3s;
}

.collab-image:hover {
    transform: scale(1.2);
}

@keyframes solidbackup {
    to {
        opacity: 1;
    }
}