<article class="portfolio-page">
    <h2 class="heading">COLLABORATION</h2>
    <hr class="seperator" /><br />
    <div class="collab-container">
        <img src="../../assets/sheetal-koskii.jpg" alt="image, for koskii collaboration link" class="collab-image"
            (click)="onClick($event)">
        <div class="collab-content">
            <a class="collab-text" href="/portfolio/collaboration">
                KOSKII <br>
                <hr class="link-line" />
            </a>
        </div>
    </div>
</article>