<article class="portfolio-page">
    <h2 class="heading">COLLABS</h2><br />
    <!-- <hr class="seperator" /><br /> -->
    <div class="collab-container">
        <div class="collab-card" *ngFor="let image of collabData">
            <img src="{{image.url}}" alt="image, for koskii collaboration link" class="collab-image"
                (click)="onClick(collabtext.title)">
            <div class="collab-content">
                <a #collabtext title="{{image.collabName}}" class="collab-text" [routerLink]="[image.collabName]">
                    {{image.collabName}}
                </a>
            </div>
        </div>
    </div>
</article>