.main-page {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'header'
        'main';
    min-height: 100vh;
}

.main-header {
    grid-area: header;
}

.main-content {
    grid-area: main;
    scrollbar-width: none;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.main-footer {
    text-align: center;
    margin-top: 5vh;
}