.header-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 80px;
    margin-right: 4vw;
    margin-left: 4vw;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
}

.portfolio {
    align-self: center;
}

.about {
    align-self: center;
}


.contact {
    align-self: center;
}


.style-link {
    padding: 20px;
}

.style-link:hover {
    background-color: #AFD274;
}