/* @import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');

:host {
    flex-grow: 1;
}

.home-page {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.open-image {
    margin-top: 40px;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 40vw;
    min-width: 300px;
    height: auto;
    object-fit: cover;
}

.portfolio-image {
    width: 100%;
    height: 100%;
    filter: blur(1px);
    border-radius: 15px;
    opacity: 0;
    animation: fade-in 0.5s 0.2s forwards cubic-bezier(0.2, 0, 0.8, 0);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}

.open-statement {
    align-self: center;
    text-align: center;
}

.model-name {
    font-family: 'Original Surfer', cursive;
    font-size: 60px;
    display: flex;
    flex-flow: wrap;
    column-gap: 1rem;
    animation: 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
    justify-content: center;
}

.model-name>span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
}

.model-name>span:nth-child(1) {
    animation: fade-in 1s 0.2s forwards cubic-bezier(0.2, 0, 0.8, 0);
}

.model-name>span:nth-child(2) {
    animation: fade-in 1.2s 0.2s forwards cubic-bezier(0.2, 0, 0.8, 0);
}


.description {
    font-size: 30px;
    animation: 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.description>span {
    display: inline-block;
    opacity: 0;
    filter: blur(6px);
}

.description>span:nth-child(1) {
    animation: fade-in 1.3s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

@media screen and (max-width: 500px) {
    .model-name {
        font-size: 40px;
    }
}

@media screen and (max-width: 820px) {
    .open-image {
        width: 90vw;
        height: auto;
    }
}